
.suggestApp
  .suggestDl
    .suggestDl__text
      %h2.suggestDl__text__catch
        だれでもかんたん、人生を変えるフリマアプリ
      %p.suggestDl__text__push
        今すぐ無料ダウンロード！
    .suggestDl__banners
      = link_to image_tag(asset_path("app-store.svg"), class:"suggestDl__ios"), "/"
      = link_to image_tag(asset_path("google-play.svg"), class:"suggestDl__android"), "/"

.top-footer
  .footerMenu
    %ul.footerLists
      %h2
        FURIMAについて
      %li.footer_list
        会社概要（運営会社）
      %li.footer_list
        プライバシーポリシー
      %li.footer_list
        FURIMA利用規約
      %li.footer_list
        ポイントに関する特約
    %ul.footerLists
      %h2
        FURIMAを見る
      %li.footer_list
        カテゴリー一覧
      %li.footer_list
        ブランド一覧
    %ul.footerLists
      %h2
        ヘルプ＆ガイド
      %li.footer_list
        FURIMAガイド
      %li.footer_list
        FURIMAロゴ利用ガイドライン
      %li.footer_list
        お知らせ
  .footer__logo
    = image_tag asset_path('logo/logo-white.png'), size: ""
  %P.copyright © FURIMA

.sell-btn
  .btn-title
    出品する
    =link_to new_item_path, target:"_blank" do
      = image_tag asset_path("icon/icon_camera.png"), size: "50"
