.show-a {
  color: #3CCACE;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
    text-decoration: underline;
  }
}

.fade-list {
  &__image {
    height: 390px;
    width: 100%;
    position: relative;
    &__badge {
      width:100%;
      position: absolute;
      background-color: aquamarine;
      opacity: 0.5;
      top: 0;
      text-align: center;
      font-weight: bold;
      font-size: xx-large;
    }
  }
}


.comment-display {
  border-bottom: 1px solid rgba(230,230,230,1);
  padding: 10px;
  height: 150px;
  position:relative;
  .exhibitor-box {
    float: right;
  }
  .buyer-box {
    float: left;
  }
  &__comment-box {
    width: 85%;
    &__name {
      margin-bottom: 5px;
      font-weight: bold;
      .exhibitor-comment {
        
      }
      .user-comment {
        text-align: end;
        margin-right: 10px;
      }
    }
    &__message {
      padding:20px;
      height: 100px;
      background-color: rgba(240, 221, 195, 0.4);
      border-radius: 15px;
    }
  }
  &__image-box {
    width: 15%;
    &__exhibitor {
      position: absolute;
      top: 30px;
      left: 15px;
    }
    &__user {
      position: absolute;
      top: 30px;
      right: 15px;
    }
  }
}

.user-thumbnail {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.form-wrap {
  overflow: scroll;
  max-height: 500px;
}

.showcontainer {
  background: #f5f5f5;
  width: 100%;
  padding-top: 5%;

  &__itemContents {
    background-color: white;
    width: 700px;
    height: 100%;
    margin: 0 auto ;
    padding: 24px 40px 40px;
    box-sizing: border-box;

    &__item-name {
      text-align: center;
      font-weight: bold;
      font-size: 40px;
      margin-bottom: 6%;
      word-break: break-all;
    }


    &__images {
      width: 100%;
      height: 100%;
      margin-bottom: 6%;

      &__display-up {
        width: 550px;
        height: 400px;
        margin: 0 auto;
      }

      &__display-down {
        margin: 5px 0;
        flex-flow: wrap;
      }
    }


    &__price {
      margin-bottom: 6%;
      text-align: center;

      &__amount {
        font-size:40px;
        font-weight: bold;
        letter-spacing: 2px;
        &__tax {
          font-size: 20px;
          letter-spacing: 0;
        }
        &__shippingConst {
          font-size: 20px;
          letter-spacing: 0;
        }
      }
    }


    &__item-btns {
      height: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 6%;

      &--left {
        padding: 10px 30px;
        background-color: #3CCACE;
        border-radius: 4px;
        color: white;
        font-size: 18px;
      }

      &--right {
        padding: 10px 30px;
        background-color: #3CCACE;
        border-radius: 4px;
        color: white;
        font-size: 18px;
      }

      &--center {
        margin: 0 auto;
        width: 80%;
        padding: 10px 30px;
        background-color: #3CCACE;
        text-align: center;
        color: white;
        font-size: 18px;
      }
    }


    &__item-introduction {
      margin-bottom: 6%;
      word-break: break-word;
      &__text {
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 1.5;
        
      }
    }


    &__details {
      height: 420px;
      width: 100%;
      margin-bottom: 6%;

      tbody {
        tr {
          th {
            width: 25%;
            background-color: #eee;
            text-align: center;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            padding: 8px;
            font-size: 16px;
            color: gray;
          }
          td {
            padding: 20px;
            width: 75%;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
          }
        }
      }
    }


    &__user-btn {
      display: flex;
      justify-content: space-between;
      

      &__left {
        margin-right: auto;
        border-radius: 40px;
        border: 1px solid #ffb340;
        font-size: 14px;
        padding: 6px 10px;
        span{
          font-size: 14px;
          margin: 1px 0 0 8px;
        }
      }

      &__right {
        border-radius: 4px;
        border: 1px solid gray;
        font-size: 14px;
        padding: 6px 10px;
        color: black;
      }
    }
  }



  &__messages {
    width: 700px;
    background: white;
    margin: 0 auto 3%;
    padding: 24px;


    &__box {

      &__form {
        &__text {
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 20px;
          text-align: center;
          border: 1px solid gray;
          font-size: 16px;
          line-height: 1.5;
          box-sizing: border-box;
        }
        &__notice {
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        &__btn {
          padding: 15px;
          width: 60%;
          display: block;
          margin: 20px auto 0;
          font-size: 18px;
          color: #fff;
          border-radius: 100px;
          background-color: #3CCACE;
        }
      }
    }
  }



  &__prevLink {
    margin: 0 auto 3%;
    width: 700px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
  }



  &__related-item {
    margin: 0 auto;
    padding: 0 0 30px;
    width: 700px;


    &__link {
      display: inline-block;
      text-decoration: none;
      font-weight: bold;
      font-size: 22px;
    }
  }
}